numpy==1.23.5
tensorflow==2.12.0
waymo-open-dataset-tf-2-12-0==1.6.2
matplotlib==3.6.1
pandas==1.5.3
pyarrow==9.0.0
tqdm==4.65.0
scipy==1.10.1
h5py==3.8.0
pyyaml==6.0
google-auth==2.16.2
protobuf==3.20.3
dask==2023.3.1
einsum==0.3.0
immutabledict==2.2.0 